.kanji-title {
  font-size: 8em;
  font-weight: 400;
}

.pretty-font {
  font-family: "Shippori Mincho B1", serif;
}

em {
  color: darkslategrey;
}

body {

  background-color: #e5e5f7;
  // opacity: 0.4;
  background-image: radial-gradient(
    #444cf7 0.7000000000000001px,
    #e5e5f7 0.7000000000000001px
  );
  background-size: 14px 14px;
}
