.kanji-title {
  font-size: 8em;
  font-weight: 400;
}

.pretty-font {
  font-family: "Shippori Mincho B1", serif;
}

html {
  background-color: #e5e5f7;
  background-image: radial-gradient(
    rgba(#3273dc, 0.4) 0.7000000000000001px,
    rgba(#e5e5f7, 0.4) 0.7000000000000001px
  );
  background-size: 14px 14px;
}

.example-kanji {
  color: darkslategrey;
}

.example-meaning {
  color: grey;
}

.example-reading {
  color: darkgrey;
}

.clickable {
  cursor: pointer;
}